<table id="admin_memberlist_datagrid" class="easyui-datagrid"
       data-options='
            "border":false,
            "fit":true,
            "fitColumns":true,
            "rownumbers":true,
            "singleSelect":true,
            "pagination":true,
            "pageList":[20,30,50,80,100],
            "pageSize":"20",
            "title":"管理员设置 > 管理员管理 ",
            "url":"/admin/user/member_list/datagrid",
            "method": "get",
            "toolbar":admin_memberlist_datagrid_toolbar' style="">
    <thead>
        <tr>
            <th data-options='"field":"username","width":15,"sortable":true'>用户名</th>
            <th data-options='"field":"last_login_ip","width":15,"sortable":true'>最后登录IP</th>
            <th data-options='"field":"last_login_time","width":15,"sortable":true,"formatter":adminMemberListTimeFormatter'>最后登录时间</th>
            <th data-options='"field":"email","width":25,"sortable":true'>E-mail</th>
            <th data-options='"field":"realname","width":15,"sortable":true'>真实姓名</th>
            <th data-options='"field":"user_id","width":15,"formatter":adminMemberListOperateFormatter'>管理操作</th>
        </tr>
    </thead>
</table>

<!-- 添加管理员 -->
<div id="admin_memberlist_add_dialog" class="easyui-dialog" title="添加管理员" data-options="modal:true,closed:true,iconCls:'icons-application-application_add',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#admin_memberlist_add_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#admin_memberlist_add_dialog').dialog('close');}}]" style="width:480px;height:300px;"></div>

<!-- 编辑管理员 -->
<div id="admin_memberlist_edit_dialog" class="easyui-dialog" title="编辑管理员" data-options="modal:true,closed:true,iconCls:'icons-application-application_edit',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#admin_memberlist_edit_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#admin_memberlist_edit_dialog').dialog('close');}}]" style="width:480px;height:300px;"></div>

<script type="text/javascript">
var admin_memberlist_datagrid_toolbar = [
	{ text: '添加管理员', iconCls: 'icons-arrow-add', handler: adminMemberAdd },
	{ text: '刷新', iconCls: 'icons-arrow-arrow_refresh', handler: adminMemberRefresh }
];
//时间格式化
function adminMemberListTimeFormatter(val){
	return val != '1970-01-01 08:00:00' ? val : '';
}
//操作格式化
function adminMemberListOperateFormatter(val){
	var btn = [];
	if(val == 1){
		btn.push('编辑')
		btn.push('删除')
	}else{
		btn.push('<a href="javascript:;" onclick="adminMemberEdit('+val+')">编辑</a>');
		btn.push('<a href="javascript:;" onclick="adminMemberDelete('+val+')">删除</a>');
	}
	return btn.join(' | ');
}

//刷新
function adminMemberRefresh(){
	$('#admin_memberlist_datagrid').datagrid('reload');
}
//添加
function adminMemberAdd(){
	$('#admin_memberlist_add_dialog').dialog({href:'/admin/user/member_add'});
	$('#admin_memberlist_add_dialog').dialog('open');
}
//编辑
function adminMemberEdit(id){
	if(typeof(id) !== 'number'){
		$.messager.alert('提示信息', '未选择管理员', 'error');
		return false;
	}
	var url = '/admin/user/member_edit';
	url += url.indexOf('?') != -1 ? '&id='+id : '?id='+id;
	$('#admin_memberlist_edit_dialog').dialog({href:url});
	$('#admin_memberlist_edit_dialog').dialog('open');
}
//删除
function adminMemberDelete(id){
	if(typeof(id) !== 'number'){
		$.messager.alert('提示信息', '未选择管理员', 'error');
		return false;
	}
	$.messager.confirm('提示信息', '确定要删除吗？', function(result){
		if(!result) return false;
		$.post('/admin/user/member_delete', {id: id}, function(res){
			if(!res.status){
				$.messager.alert('提示信息', res.info, 'error');
			}else{
				$.messager.alert('提示信息', res.info, 'info');
				adminMemberRefresh();
			}
		}, 'json');
	});
}
</script>