<script type="text/javascript">
$(function(){
	$.formValidator.initConfig({
	    formID:"admin_rolelist_add_dialog_form",
	    onError:function(msg){
	        /*$.messager.alert('错误提示', msg, 'error');*/
	    },
	    onSuccess:adminRolelistAddDialogFormSubmit,
	    submitAfterAjaxPrompt:'有数据正在异步验证，请稍等...',
	    inIframe:true
	});
	$("#admin_rolelist_add_dialog_form_name").formValidator({onShow:"请输入角色名称",onFocus:"角色名称不能为空"}).inputValidator({min:1,max:999,onError:"角色名称不能为空"}).ajaxValidator({
        type : "post",
        url : "/admin/user/check_role_name",
        data : {
            role_name:function(){return $("#admin_rolelist_add_dialog_form_name").val()},
            _xsrf: $.cookie('_xsrf')
        },
        datatype : "json",
        async:'false',
        success : function(data){
            var json = $.parseJSON(data);
            return json.code == 1 ? false : true;
        },
        onError : "角色名称已存在",
        onWait : "请稍候..."
    });
})
function adminRolelistAddDialogFormSubmit(){
	$.post('/admin/user/role_add', $("#admin_rolelist_add_dialog_form").serialize(), function(res){
	    var json = $.parseJSON(res);
		if(json.code == 0){
		    $.messager.alert('提示信息', json.msg, 'info');
			$('#admin_rolelist_add_dialog').dialog('close');
            adminRoleListRefresh();
		}else{
			$.messager.alert('提示信息', json.msg, 'error');
		}
	})
}
</script>
<form id="admin_rolelist_add_dialog_form">
{% raw xsrf_form_html() %}
<table cellspacing="6" width="100%">
	<tr>
		<td width="80">角色名称：</td>
		<td><input id="admin_rolelist_add_dialog_form_name" type="text" name="role_name" style="width:180px;height:22px" /></td>
		<td><div id="admin_rolelist_add_dialog_form_nameTip"></div></td>
	</tr>
	<tr>
		<td>角色描述：</td>
		<td colspan="2"><textarea name="description" style="width:90%;height:60px;font-size:12px"></textarea></td>
	</tr>
	<tr>
		<td>是否启用：</td>
		<td colspan="2">
            <label><input type="radio" name="status" value="1" checked />启用</label>
            <label><input type="radio" name="status" value="0" />禁止</label>
        </td>
	</tr>
	<tr>
		<td>排序：</td>
		<td colspan="2"><input type="text" name="list_order" style="width:40px;height:22px" /></td>
	</tr>
</table>
</form>