{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ static_url("css/bye.css?v=10") }}"
{% end %}

{% block navtop %}
	<div id="luka">
		<div class="hamburger">
		</div>
		<p>
			<a href="/">
				无名汇
			</a>
		</p>
	</div>
{% end %}

{% block container %}
	<div id="page">
		<div class="headerSpacer">
		</div>
		<div id="maincontent" class="center">
			<h1>
				Thanks for visiting,
				<br/>
				you're awesome.
			</h1>
			<div class="row clearfix">
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404669_wookmark.jpg" title="Rock Band Icons – Fubiz™"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404506_wookmark.jpg" title="WeHeartIt | via | We Heart It"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404402_wookmark.jpg" title="KISS ? KISS on"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404375_wookmark.jpg" title="Amazing website / Michele Mazzucco - Personal Website — Designspiration"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404366_wookmark.jpg" title="The French Vintagologist"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404364_wookmark.jpg" title="" width="75"
					height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404338_wookmark.jpg" title="SteelCore Fitness – Mike O’Hearn | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404308_wookmark.jpg" title="????????? ???????????"
					width="75" height="75" alt="" />
				</a>
			</div>
			<div class="row clearfix">
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404270_wookmark.jpg" title="INSPIRÁCIÓK ÜNNEPNAPOKHOZ"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404157_wookmark.jpg" title="Dream As If You’ll Live Forever | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404142_wookmark.jpg" title="Decor Type on Behance | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/405352_wookmark.png" title="In The Kitchen – Free Icon Set on"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/405351_wookmark.png" title="In The Hospital – Icon Set on"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/405311_wookmark.jpg" title="Geological Photography – Opplev Odda Hardanger | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/405222_wookmark.jpg" title="Crystal Clear - Imgur"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/405151_wookmark.png" title="Noir Series by Sit Haiiro | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
			</div>
			<div class="row clearfix">
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/405114_wookmark.jpg" title="Rebel Beats App on"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/405023_wookmark.jpg" title="Hand Type Vol. 12 on"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404889_wookmark.jpg" title="Hand Type | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404886_wookmark.jpg" title="Trust issues | Tattoo | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404806_wookmark.jpg" title="Soft Crash by Byoungho Kim"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404648_wookmark.jpg" title="Varsidhi on"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404636_wookmark.png" title="LivOp2.png by Bady"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404597_wookmark.jpg" title="McLaren MP4-12C | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
			</div>
			<div class="row clearfix">
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404584_wookmark.jpg" title="Audi R8 | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404549_wookmark.jpg" title="59b93b215806d86bca68f5c9183905ca.jpg (Image JPEG, 375 × 700 pixels) - Redimensionnée (92%)"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404548_wookmark.jpg" title="sketch_brush_by_zano-d6zxr5n.jpg (700×1082)"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404403_wookmark.jpg" title="KISS ? KISS on"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404334_wookmark.jpg" title="Nothing is Impossible | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404274_wookmark.jpg" title="99ec4ddc1744e0903831cbf4cfcf4f6d.jpg (Image JPEG, 450 × 670 pixels) - Redimensionnée (97%)"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404151_wookmark.jpg" title="Easy is not an option, nothing in this world worth having comes easy. | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404888_wookmark.gif" title="Five Years by Ryan Hamrick | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
			</div>
			<div class="row clearfix">
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404374_wookmark.jpg" title="Web Design / yellow, clean — Designspiration"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404265_wookmark.jpg" title="Minta-Mókus"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/405083_wookmark.jpg" title="Bicycle – Flat One Page Template - FreebiesXpress"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/405048_wookmark.jpg" title="Lytro Illum on"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404773_wookmark.jpg" title="nothingtochance"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404653_wookmark.jpg" title="EXPOSICIÓN - Construcción de la intimidad on"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404276_wookmark.jpg" title="Five Minute Plank Workout | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
				<a href="javascript:;">
					<img src="http://images4.wookmark.com/404162_wookmark.jpg" title="Illustrations / Ash White | Design Graphique | Inspiration DE"
					width="75" height="75" alt="" />
				</a>
			</div>
		</div>
		<div class="clear">
		</div>
	</div>
{% end %}