{% extends 'settings_base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ static_url("css/settings/common.css") }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ static_url("css/settings/password.css") }}" type="text/css" media="all" />
{% end %}

{% block navtop_title %} Password settings {% end %}

{% block setting_content %}
	<div class="intro">
		<h1>
			Update your password
		</h1>
	</div>
	{% if error %}
	<div class="error"> <p>{{ handler.error_message[str(error)]}}</p> </div>
	{% end %}
	<div class="wrapSettingsForm">
		<div class="jserror">
			<p>
				Please make sure your password is at least 4 characters long and your
				new passwords match.
			</p>
		</div>
		<form action="/settings/password" method="post" accept-charset="utf-8" id="formPassword" enctype="multipart/form-data">
			{% raw xsrf_form_html() %}
			<label for="currentpassword">
				Enter current password
			</label>
			<input type="password" name="password" value="">
			<label for="newpassword">
				Enter new password
			</label>
			<input type="password" name="new_password" value="">
			<label for="verifypassword">
				Enter new password again
			</label>
			<input type="password" name="verify_password" value="">
			<input type="submit" name="send" value="Update password">
		</form>
	</div>
{% end %}

{% block js %}
	<script type="text/javascript" src="{{ static_url("js/settings/password.js") }}"></script>
{% end %}