

#main .content h1 {
margin-top: 5px;
}

#main .content h1 img {
vertical-align: middle;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 1px 1px rgba(255,255,255,1);
}

.wrapSettingsForm {
margin: 25px 0 0 0;
}

.wrapSettingsForm label {
display: inline-block;
float:left;
min-width: 175px;
padding: 4px 0 0 0;
}

.wrapSettingsForm textarea,
.wrapSettingsForm input[type=text],
.wrapSettingsForm input[type=password] {
display: block;
border: 1px solid #ccc;
-moz-transition: all 0.1s ease-out;
-o-transition: all 0.1s ease-out;
-webkit-transition: all 0.1s ease-out;
-ms-transition: all 0.1s ease-out;
transition: all 0.1s ease-out;  
width: 300px;
padding: 4px 5px 5px 7px;
margin: 0 0 15px 0;
font-size: 11px;
}

.wrapSettingsForm textarea {
height: 50px;
}

.wrapSettingsForm textarea:hover,
.wrapSettingsForm input[type=text]:hover {
border: 1px solid #999;
}

.wrapSettingsForm input[type=submit] {
display: block;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
box-shadow: 0 1px 2px rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
border: 1px solid #CCC;
background-color: #FFF;
padding: 5px 8px 6px 8px;
background-color: #f4f4f4;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
background-image: -webkit-linear-gradient(top, #ffffff, #f4f4f4);
background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
background-image: -ms-linear-gradient(top, #ffffff, #f4f4f4);
background-image: -o-linear-gradient(top, #ffffff, #f4f4f4);
background-image: linear-gradient(top, #ffffff, #f4f4f4);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f4f4f4');
-moz-transition: all 0.1s ease-out;
-o-transition: all 0.1s ease-out;
-webkit-transition: all 0.1s ease-out;
-ms-transition: all 0.1s ease-out;
transition: all 0.1s ease-out; 
width: 130px;
cursor: pointer;
margin: 35px 0 0 175px;
}

.wrapSettingsForm input[type=submit]:hover {
border: 1px solid #999;
}

.wrapSettingsForm input[name=slug] {
margin-bottom: 0px;
}

.wrapSettingsForm .sluginfo {
margin: 0 0 20px 100px;
}

#formSettings p.slugdisplay {
padding: 5px 0 0 0;
margin: 0;
font-size: 11px;
display: inline-block;
}

#formSettings p.slugerror {
color: #ca1717;
padding: 0 0 0 0;
margin: 0;
font-size: 11px;
display: none;
}

#main .error {
margin-top: 20px;
}

#main .error,
#main .jserror,
#main .success {
border: 1px solid #ddd;
background-color: #f8f8f8;
padding: 10px 15px 10px 15px;
font-size: 14px;
line-height: 18px;
color: #333;
margin-bottom: 20px;
}

#main .jserror {
height: 0;
overflow: hidden;
display: none;
}

#main .error p,
#main .jserror p,
#main .success p {
margin: 0;
padding-bottom: 2px;
}

#main .wrapSettingsForm.invalid .jserror {
display: block;
height: auto;
}

#main .success {
background: #f8f8f8 url('/static/img/icons/check-circle.png') no-repeat 10px center;
text-indent: 20px;
}
